<div class="user-profile">
    <picture>
        <img src="{{currentUser.profilePictureURL}}" alt="Profile Picture of {{currentUser.username}}">
    </picture>

    <div class="profile-data">
        <p><span class="profile-data-category">Username: </span> <span>{{currentUser.username}}</span></p>
        <p><span class="profile-data-category">First name: </span> <span>{{currentUser.firstName}}</span></p>
        <p><span class="profile-data-category">Last name: </span> <span>{{currentUser.lastName}}</span></p>
        <p><span class="profile-data-category">Email: </span> <span>{{currentUser.email}}</span></p>
    </div>

    <form id='edit-user-profile-form' action="" method="POST" enctype="multipart/form-data">
        <h3>Update your data</h3>

        {{#if errorMessages}}
        <ul class="error">
            {{#each errorMessages}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}

        <div>
            <label for="username">Username:</label>
            <input name="username" type="text" value="{{user.username}}" id="username">
        </div>
        <div>
            <label for="email">Email:</label>
            <input name="email" type="email" value="{{user.email}}" id="email">
        </div>
        <div>
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" value="{{user.firstName}}" id="firstName">
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input name="lastName" type="text" value="{{user.lastName}}" id="lastName">
        </div>
        <div>
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="passwordConfirmation">Repeat Password:</label>
            <input type="password" name="passwordConfirmation" id="passwordConfirmation">
        </div>
        <div>
            <label for="image-url" id="image-url-label"><span id="fake-label">Profile Picture:</span><span class="fake-button">Select file</span></label>
            <input type="file" name="image-url" id="image-url">
        </div>
        <button>Save</button>
    </form>

    <picture class="profile-picture-preview">
        <img src="{{user.profilePictureURL}}" alt="New profile picture" id="profile-picture-preview">
    </picture>
</div>