<h2>{{user.username}}'s profile</h2>

<p>
    <img src="{{user.profilePictureURL}}" alt="Profile Picture of {{user.username}}">
    username: {{user.username}}
</p>

<p>
    email: {{user.email}}
</p>
