<div class="user-profile">
    <picture>
        <img src="{{user.profilePictureURL}}" alt="Profile picture for {{user.username}}">
    </picture>
    <div class="profile-data">
        <p><span class="profile-data-category">Username: </span> <span>{{user.username}}</p>
        <p><span class="profile-data-category">Full Name: </span> <span>{{user.firstName}}</span> {{user.lastName}}</p>
        <p><span class="profile-data-category">Posts: </span> <span>{{postCount}}</span></p>
        <p><span class="profile-data-category">Comments: </span> <span>{{commentCount}}</span></p>
        <p><span class="profile-data-category">Follows: </span> <span>{{followCount}}</span></p>
        <p><span class="profile-data-category">Followers: </span> <span>{{followerCount}}</span></p>
    </div>

    {{!-- Empty div below for flex arrangement purpose --}}
    <div> </div>
</div>

{{> userPosts}}
