<script type="module" src="https://md-block.verou.me/md-block.js"></script>
<link rel="stylesheet" href="/stylesheets/posts.css">
<h1>{{post.title}}</h1>
<a href="/profile/{{post.author._id}}">{{post.author.username}}</a>
<p class="created">Posted on {{dateFormat post.createdAt}}</p>

{{!-- converts text content to markdown format --}}
<div class="content">
    {{#each post.content}}
        <script class='mdConverter' content="{{this}}" type="text/javascript" src="/js/markdownParsing.js"></script>
    {{/each}}
</div>

<div class="post-tags">
    {{#each post.tags}}
        <a class="tags" href="/search/tag?search={{name}}">#{{name}}</a>
    {{/each}}
</div>

<div>

</div>
<div class="post-bottom-row">
    {{#ifArrayIncludesId likes post._id}}<button class="btn-unlike">Unlike</button>{{else}}<button class="btn-like">Like</button>{{/ifArrayIncludesId}}
    {{#ifArrayIncludesId follows post.author._id}}<button class="btn-unfollow follow-unfollow">Unfollow author</button>{{else}}<button class="btn-follow follow-unfollow">Follow author</button>{{/ifArrayIncludesId}}
    {{#if currentUser}}<button class="btn-comments">Show comments</button>{{/if}}
</div>
{{#if currentUser}}
<div class="comments-container">
    <form class="new-comment">
        <textarea name="content" cols="20" rows="3" class="new-comment-content"></textarea>
        <button class='btn-new-comment' type="submit">New comment</button>
    </form>
    <div class="comments-feed-container"></div>
</div>
{{/if}}