{{log currentUser._id}}
<div class="creationContainer">
    <section id="create">
        <div id="error">
            {{#if errorMessages}}
                <ul class="alert error">
                    {{#each errorMessages}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
        <form id="creation" action="/posts/{{id}}/{{route}}" method="POST">
            <input class="createTitle" type="text" name = 'title' placeholder="Title" {{#if post}}value="{{post.title}}"{{/if}}>
            <textarea class="createContent" name='content' placeholder="Content">{{#if post}}{{post.content}}{{/if}}</textarea>
            <div id = 'tagContainer'>
                <button type = "button" id="newTagBtn">new tag</button>
                <div class="allTags">
                    {{#if post}}
                        {{#each post.tags}}
                            {{> tag tagName=name class='creationTags'}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <button class="submit">{{buttonAction}}</button>
        </form>
    </section>

    <section id="mdInfo">
        <div id="mdTips">
            <div>
                <h2>Markdown Tips</h2>
                <ul>
                    <li>
                        <h3>Headers</h3>
                        <p># (number of hashtags modifies size)</p>
                    </li>
                    <li>
                        <h3>Bold</h3>
                        <p>**...**</p>
                    </li>
                    <li>
                        <h3>Italics</h3>
                        <p>*...*</p>
                    </li>
                    <li>
                        <h3>Showing Special Characters</h3>
                        <p>\* \#</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="post-container">
            <div class="post-header">
                <picture class="post-author-pic">
                    <a class='link-profile' href="">
                        <img class="post-author-img" src="{{currentUser.profilePictureURL}}" alt="Profile picture for {{currentUser.username}}">
                        <div class="post-author-username">
                            {{currentUser.username}}
                        </div>
                    </a>
                        <button class="btn-follow follow-unfollow">Follow</button>
                        <button class="btn-like">Like</button>

                </picture>
                <div class="post-title-tags">
                    <a class="link-post" href=""><h2 class="previewTitle">Title</h2></a>        
                    <div class="post-tags" id="previewTags">
                    </div>
                </div>
                <p class="post-created-date">Posted on yyyy-mm-dd hh:mm:ss</p>
            </div>


            <div id="preview" class="content">
                <div class="previewContent"></div>
            </div>
            <p class="post-created-date">Posted on </p>
        </div>     
    </div>
    </section>
</div>
